/* execute.css */

.Execute {
    margin: 120px;
  }
  
  .test-details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .test-details p {
    margin: 5px 0;
  }

  /* execute.css */

.result-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #282c34;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.result-button:hover {
  
  background-color: #0056b3;
  
}

  